{{#salles}}
  <div class="numero-salle slug-{{slug}}"><span>{{numero}}</span></div>
  {{#films}}
    <div class="film">
      <div class="titre"><span>{{title}}</span></div>
      <div class="affiche"><img src="{{affiche_url}}"></div>
      <ul class="seances">
        {{#seances}}
          <li class="horaire"><span>{{horaire}}</span></li>
        {{/seances}}
      </ul>
      <div class="info">
        <div class="salle slug-{{slug}} number-{{numero}}"><span>{{nom}}</span></div>
        {{#duree}}<div class="duree"><span>{{duree}}</span></div>{{/duree}}
        {{#seances}}<div class="version slug-{{version}} horaire-{{horaire}}" style="display:none;"><span>{{version}}</span></div>{{/seances}}
        {{#public}}<div class="public slug-{{slug}}"><span>{{name}}</span></div>{{/public}}
        {{#dimension}}<div class="dimension slug-{{slug}}"><span>{{name}}</span></div>{{/dimension}}
      </div>
      <div class="countdown">
        <span>Film débuté depuis 5 min</span>
      </div>
    </div>
  {{/films}}
{{/salles}}

<script>
// Par défaut on masque tous les films
$('.film').hide();
// Mise à jour régulière du film affiché (= séance la plus proche)
initFilmUpdates();
// Mise à jour régulière du countdown "Film débuté depuis X minutes"
initCountdownUpdates();

// Mise à jour régulière du film affiché (= séance la plus proche)
function initFilmUpdates() {
  // Combien de minutes affiche-t-on le film après le début de la séance (défaut : 20 minutes)
  var display_duration = 20;
  if(dataLoaded.template_data !== null && typeof(dataLoaded.template_data.display_duration) !== "undefined")
    display_duration = dataLoaded.template_data.display_duration;

  // Date actuelle moins display_duration minutes
  var now = new Date((new Date()).getTime() - display_duration * 60 * 1000);

  // Masquage de tous les films
  $('.film').hide();
  $('.film .info .version').hide();
  // On détermine quel horaire est le plus proche parmi la liste des séances affichables :
  var closestHoraire = false;
  // On récupère tous les horaires, on les trie par ordre chronologique
  var horaires = $('.film .seances .horaire').sort(function(a, b) { return $(a).text().localeCompare($(b).text()); });
  // Déselectionner tous les horaires
  horaires.removeClass('selected');
  // On sélectionne la première séance à venir (horaire supérieur à "now")
  for (var i = 0, len = horaires.length; i <len; i++) {
    // On sélectionne la première séance à venir
    if (isIncoming($(horaires[i]).text(), now)) {
      closestHoraire = $(horaires[i]);
      break;
    }
  }
  // Si on n'a pas trouvé de séance convenable, on prend la dernière de la journée
  if (!closestHoraire) closestHoraire = horaires.last();
  // Sélectionner l'horaire courant
  closestHoraire.addClass('selected');
  // Afficher le film correspondant
  closestHoraire.parents('.film').show();
  // Afficher la version correspondant à la prochaine séance (cela peut différer d'une séance à l'autre)
  closestHoraire.parents('.film').find('.version.horaire-'+closestHoraire.text()).show()
  // Répéter toutes les minutes
  setTimeout(initFilmUpdates, 60000);
}

// Mise à jour régulière du countdown "Film débuté depuis X minutes"
function initCountdownUpdates() {
  
  // Répeter toutes les minutes
  setTimeout(initCountdownUpdates, 60000);
}
</script>
