<div class="clock"><span></span></div>
<div class="films">
  {{#films}}
    <div class="film">
      <div class="titre"><span>{{title}}</span></div>
      <div class="affiche"><img src="{{affiche_url}}"></div>
      <ul class="seances">
        {{#seances}}
          <li class="horaire"><span>{{horaire}}</span><div class="version slug-{{version}} horaire-{{horaire}}"><span>{{version}}</span></div></li>
          <!-- <li class="delimiter"></li> -->
        {{/seances}}
      </ul>
      <div class="info">
        {{#duree}}<div class="duree"><span>{{duree}}</span></div>{{/duree}}
        {{#seances}}<div class="version slug-{{version}} horaire-{{horaire}}" style="display:none;"><span>{{version}}</span></div>{{/seances}}
        {{#public}}<div class="public slug-{{slug}}"><span>{{name}}</span></div>{{/public}}
        {{#dimension}}<div class="dimension slug-{{slug}}"><span>{{name}}</span></div>{{/dimension}}
      </div>
    </div>
{{/films}}
</div>
<script>

// Mise à jour des horaires sélectionnés toutes les minutes
initUpdates();

// Mise à jour défilement
initSwitchPage();

function initUpdates() {
  // Sélection des séances futures
  // Date actuelle
  var now = new Date((new Date()).getTime());

  // Déselectionner toutes les séances
  $('.film .seances .horaire').removeClass('selected');
  
  var nbElementsPerLine = 8;

  // Pour chaque film, on regarde si la séance est passée
  $('.film .seances').each(function() {
    
  //trier les séances
  tinysort($(this).find('li.horaire'));
    
    var horaires = $(this).find('.horaire');
    for (var i = 0, len = horaires.length; i <len; i++) {

      // On grise les séances passées
      if (!isPassed($(horaires[i]).find('span').first().text(), now)) {
         $(horaires[i]).addClass('selected');  
       }
    }
  });
  $( "li.delimiter" ).remove();
  $( "li.horaire" ).after( ' <li class="delimiter"> </li> ' );
  // Mise en forme des horaires
  $('.seances').each(function() {

    // Liste des délimiteurs (tirets)
    var delimiters = $(this).find('.delimiter');
    // Remplacement du délimiteur par un BR à chaque fin de ligne (on part du principe qu'il y a 7 éléments par ligne)
    var nbElementsPerLine = 7;
    for (var i = nbElementsPerLine - 1, len = delimiters.length; i < len; i += nbElementsPerLine) {
    $(delimiters[i]).replaceWith('<br />');
    }
    // Suppression du dernier délimiteur
    delimiters.last().remove();
  });
  
  setTimeout(initUpdates, 60000);
}

// Mise à jour horloge
initClock();
function initClock() {
  var now = new Date();
  $('.clock span').text(now.getHours() + 'H' + ('0' + now.getMinutes()).slice(-2));
  // Répéter toutes les 20 secondes
  setTimeout(initClock, 30000);
}

// Mise à jour page (défilement des pages s'il y a plus de salles que de slots)
function initSwitchPage() {
  // Détermination du nombre de slots défini par page
  if (dataLoaded.template_data !== null && typeof(dataLoaded.template_data.nb_slots) !== "undefined") {
    var nbSlots = Number(dataLoaded.template_data.nb_slots);
    // S'il y a assez de slots, pas de défilement
    if (nbSlots >= $('.film').length) {
      return;
    }
  }
  // Si le nombre de slots n'est pas défini, on met tout sur une seule page
  else {
    return;
  }
  // On détermine le premier slot à afficher
  // Il s'agit du slot placé tout de suite après le dernier slot actuellement visible
  // (s'il n'y a pas de slot après le dernier slot visible, on repart à 0 = début de la liste)
  var firstSlotToShow = $('.film').last().is(':visible') ? 0 : $('.film').index($('.film:visible').last()) + 1;
  // Masquer tous les slots puis afficher les [nbSlots] slots à partir du [firstSlotToShow]
  $('.film').hide().slice(firstSlotToShow, firstSlotToShow+nbSlots).show();
  // Répéter toutes les 20 secondes
  setTimeout(initSwitchPage, 15000);
}
</script>