html,
body {
  margin:0;
  padding:0;
  background:#000;
  overflow:hidden; /* permet de masquer les trucs qui dépassent - à enlever si la machine de test est dans une résolution moins élevée et que le scroll est nécessaire */
  text-align:center;
}
.conteneur {
  background:url('./img/salle.jpg') no-repeat;
  background-size: contain;
  font-family: Helvetica, Arial, sans-serif; 
  color:#fff; 
  text-align:center;
  position:relative;
  margin:0 auto;
  height:1920px;
  width:1080px;
  /*border:solid 1px red;*/
}

.numero-salle { position: absolute; left: 0px; top: 48px; width:100%; height: 200px; font-size: 160px; font-family: Times; color:#eee; }
.numero-salle.slug-salle-1 { background:url('./img/salle-1.png') no-repeat center center; }
.numero-salle.slug-salle-2 { background:url('./img/salle-2.png') no-repeat center center; }
.numero-salle.slug-salle-3 { background:url('./img/salle-3.png') no-repeat center center; }
.numero-salle.slug-salle-4 { background:url('./img/salle-4.png') no-repeat center center; }
.numero-salle.slug-salle-5 { background:url('./img/salle-5.png') no-repeat center center; }
.numero-salle.slug-salle-6 { background:url('./img/salle-6.png') no-repeat center center; }
.numero-salle.slug-salle-7 { background:url('./img/salle-7.png') no-repeat center center; }
.numero-salle.slug-salle-8 { background:url('./img/salle-8.png') no-repeat center center; }
.numero-salle.slug-salle-9 { background:url('./img/salle-9.png') no-repeat center center; }
.numero-salle.slug-salle-10 { background:url('./img/salle-10.png') no-repeat center center; }

.numero-salle span { display:none;}

.film { font-weight:bold; }
.film .titre { position:absolute; font-size:70px; top:250px; left:100px; }
.film .titre span { display: table-cell; height: 110px; width:890px; line-height:80px; vertical-align: middle; height:250px; line-height:80px; }

.film .affiche { position:absolute; right: 300px; width:684px; height:928px; top:430px; }
.film .affiche img { width:130%; height:130%; }

.film .seances { margin:0; padding: 0; position:absolute; font-size: 70px; position: absolute; top: 1783px; left: 590px; right: 1148px; line-height: 130px; text-align:center; }
.film .seances li { display: none; } /* on n'affiche pas les séances mais on les garde dans le dom pour afficher le bon film en fonction de l'heure */
.film .seances li.selected { display:block; margin:0; }

.film .info { position:absolute; position: absolute; top: 1690px; left: 220px; width: 776px; height: 86px; text-align:right; }

.film .info > * { position: relative; display:inline-block; text-align:center; height:82px; width:86px; margin:0 10px; }
.film .info > * { background-repeat:no-repeat; background-position: center center; background-size:contain; }
.film .info > * > span { display: none; } /*  on remplace le texte par des images, sauf pour la durée (cf. plus loin) */


.film .info > .duree { position:absolute; display:block; top: -2px; left: -90px; line-height: 90px; height:90px; font-size: 60px; width: 214px; padding: 0; margin: 0; color: black; }
.film .info > .duree > span { display: inline; }

.film .info .public.slug-tous-publics   { background-image: url('./img/picto-tous-publics.png'); }
.film .info .public.slug-avertissement  { background-image: url('./img/picto-avertissement.png'); }
.film .info .public.slug-12-ans         { background-image: url('./img/picto-12-ans.png'); }
.film .info .public.slug-16-ans         { background-image: url('./img/picto-16-ans.png'); }
.film .info .public.slug-18-ans         { background-image: url('./img/picto-18-ans.png'); }

.film .info .dimension.slug-2d          { display:none; }
.film .info .dimension.slug-3d          { background-image: url('./img/picto-3d.png'); }

.film .info .version.slug-vo            { background-image: url('./img/picto-vo.png'); }
.film .info .version.slug-vf            { background-image: url('./img/picto-vf.png'); }

.film .countdown {  top: 1700px; left:-150px; position: relative; display:inline-block; text-align:center; height:82px; width:700px; margin:0 10px; font-size:45px; color: red;}

/* feux */
.film .feu { width: 266px; height: 136px; position: absolute; bottom: 24px; right: 0; background-repeat:no-repeat; background-position: center center; background-size:contain;}
/*.film  .horaire.selected + .feu { display: block; }*/
.film .feu span { background-repeat:no-repeat; background-position: center center; background-size:contain; width: 246px; height: 116px; display: block; position: absolute; left: 10px; top: 10px;}
.film .feu.vert span { background-image: url('./img/feu-vert.png'); }
.film .feu.rouge span { background-image: url('./img/feu-rouge.png'); } 
