@font-face{
  font-family: 'BeBasNeue';
  src: url('./fonts/bebasneue.eot');
  src: url('./fonts/bebasneue.eot?#iefix') format('embedded-opentype'),
       url('./fonts/bebasneue.ttf') format('truetype');
}

body {
  margin:0;
  padding:0;
  background:#000;
  overflow:hidden; /* permet de masquer les trucs qui dépassent - à enlever si la machine de test est dans une résolution moins élevée et que le scroll est nécessaire */
}
.conteneur {
  background:url('./img/4fbg.jpg') no-repeat;
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;  
  color:#fff; 
  position:relative;
  margin:0 auto;
  height:1280px;
  width:768px;
  font-weight: normal;
  overflow:hidden; 
}

.film { top:61px; width: 372px; height:599px; float:left; position:relative; /*background: url('img/film-bg.png') 37px 0px no-repeat ;*/ }
.film .affiche { position:absolute; width:300px; height:415px; top: 57px; left:47px; }
.film .affiche img { width:100%; height:100%; }

.film .titre { position: absolute; top: 489px; left: 90px; width: 275px ; height: 40px; overflow: hidden; }
.film .titre span { display: block;  text-align:center; vertical-align: center; color: #fff; font-weight:bold; font-size: 16px; overflow: hidden; text-overflow : ellipsis; letter-spacing: 1px; white-space: nowrap; }

.film .info { position: absolute; left: 370px; top: 98px; width: 50px;}
.film .info .genre, .info .realisateur, .info .interpretes { display:none; }

.info .interpretes { display:none; }

.film .info .genre label, .info .realisateur label, .info .interpretes label {font-weight: bold; display: block; font-size: 17px;}
.film .info .genre span, .info .realisateur span, .info .interpretes span { text-transform: capitalize;}

.film .info .public, .film .info .dimension { margin-top:195px; margin-left:-335px; background-position: center center; background-repeat: no-repeat; background-size: contain; width: 50px;  height: 50px; display: inline-block;text-align: center; }

/*.film .info div[class^="slug-"] {position : absolute;}*/
.film .info .public.slug-tous-publics { background-image: url('./img/picto-tous-publics50.png'); }
.film .info .public.slug-avertissement  { background-image: url('./img/picto-avertissement50.png'); }
.film .info .public.slug-12-ans         { background-image: url('./img/picto-12-ans50.png'); }
.film .info .public.slug-16-ans         { background-image: url('./img/picto-16-ans50.png') ; }
.film .info .public.slug-18-ans         { background-image: url('./img/picto-18-ans50.png') ; }

.film .info .public.slug-tous-publics, .film .info .public.slug-avertissement, .film .info .public.slug-12-ans,
.film .info .public.slug-16-ans, .film .info .public.slug-18-ans { position : absolute; top: 250px;}

.film .info .public.slug-tous-publics span, .film .info .public.slug-avertissement span,
.film .info .public.slug-12-ans span, .film .info .public.slug-16-ans span, .film .info .public.slug-18-ans span {display: none;}

.film .info .dimension.slug-2d          { display:none; }
.film .info .dimension.slug-3d          { display:none; }
.film .info .dimension.slug-3d span { display: none;}

.film .info .duree {font-size: 20px;  text-transform: lowercase; color: #fff; font-weight:bold; position: absolute; top:405px; left:-335px;}
/*.film .info .duree span:before {content: "Dur\E9 e :"; display : block; font-size: 17px; color : #fff; text-transform: capitalize;}*/
.film .info .duree span {line-height: 10px; margin-left: 1px; text-indent: -11px; }

.film .resume {display:none; }

.film ul.seances { position: absolute; left:70px; top: 505px; width: 300px; height:83px; overflow: hidden;}

.film ul.seances li.horaire {list-style: none; text-transform: lowercase; font-size: 20px; font-weight: bold; font-family: Helvetica, sans-serif; line-height: 30px; float:left; display: block; margin-right: 76px; width: 70px;}
.film ul.seances li.horaire:nth-child(3n) { margin-right: 0;}
.film ul.seances li.horaire span { margin-right: 2px; }
.film ul.seances li.selected { color: #ffa42b; }

.film ul.seances li.horaire .version { margin-top:0px; margin-left:0px; background-position: 0 2px; background-repeat: no-repeat; background-size: contain; width: 20px;  height: 23px; display: inline-block !important;text-align: center; position: absolute;}
.film ul.seances li.horaire .version span { font-size: 15px;  text-transform: lowercase; color: #fff; font-weight:bold; display:inline-block; }
/*.film ul.seances li.horaire .version.slug-vo  { background-image: url('./img/picto-vop.png'); margin-right: 0px;}
.film ul.seances li.horaire .version.slug-vf  { background-image: url('./img/picto-vfp.png'); margin-right: 0px;}
.film ul.seances li.horaire .version.slug-vost  { background-image: url('./img/picto-vost.png'); margin-right: 0px; width: 22px;}*/


